<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre mi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sobre mi</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="card">
    <img alt="Melany Sangucho" src="../../assets/MS.png" width="200px" />
    <ion-card-header class="card-header">
      <ion-card-title class="title">Melany Sangucho</ion-card-title>
      <ion-card-subtitle class="subtitle">Sobre mi</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="content">
      Me considero una persona amable y respetuosa con los demás. Además poseo una gran capacidad de aprendizaje y me esfuerzo por mejorar, personal y profesionalmene, cada día.
    </ion-card-content>
  </ion-card>

  <!-- <app-explore-container name="Sobre mi"></app-explore-container> -->
</ion-content>
